body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

/* TopBar */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #eee;
}
.topbar-center {
  font-weight: bold;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: black;
  color: white;
}
.nav-links {
  display: flex;
  gap: 15px;
}

/* Breaking */
.breaking {
  display: flex;
  background: red;
  color: white;
}
.label {
  padding: 5px;
  background: black;
}
.marquee {
  overflow: hidden;
  flex: 1;
}
.track {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Hero */
.hero {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.left {
  width: 20%;
}
.center {
  width: 50%;
}
.right {
  width: 30%;
}

/* Cards */
.news-card {
  background: white;
  margin-bottom: 10px;
}
.news-card img {
  width: 100%;
}
.content {
  padding: 10px;
}
.meta {
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

/* Category */
.category {
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .left,
  .center,
  .right {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .nav-links {
    flex-wrap: wrap;
  }
}
