/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5e5e5;
  padding: 10px 20px;
  font-size: 14px;
}

.top-center {
  font-weight: bold;
  font-size: 18px;
}

/* NAVBAR */
/* NAVBAR BASE */
.navbar {
  background: #111;
  color: white;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center; /* 🔥 CENTER FIX */
  position: relative;
}

/* CENTER MENU */
.nav-center {
  display: flex;
  gap: 25px;
}

.nav-center a {
  font-size: 15px;
  cursor: pointer;
}

/* MENU BUTTON (LEFT) */
.menu-btn {
  position: absolute;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  display: none; /* desktop এ hidden */
}

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: 0.3s;
  z-index: 999;
}

.side-menu.active {
  left: 0;
}

.close {
  font-size: 24px;
  cursor: pointer;
}
/* BREAKING NEWS BAR */
.breaking {
  display: flex;
  align-items: center;
  background: #d10000;
  color: white;
  font-size: 14px;
  overflow: hidden;
}

/* LEFT LABEL */
.breaking-label {
  background: black;
  padding: 8px 14px;
  font-weight: bold;
  white-space: nowrap;
}

/* SCROLL AREA */
.breaking-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

/* SCROLL TEXT */
.breaking-track {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 20s linear infinite;
}

/* ANIMATION */
@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .nav-center {
    display: none; /* 🔥 hide center menu */
  }

  .menu-btn {
    display: block; /* show hamburger */
  }
}
